.row.border-bottom
  .col-sm-4.col-md-2.offset-md-2.text-right.py-2
    %i= event.date_string
  .col-sm-8.col-md-6.pl-4.py-2
    - if event.preview_photo_attachment
      .media
        = image_tag(event.preview_photo_attachment.variant(resize_to_limit: [100, 100]),
                    class: 'img-fluid border rounded mr-2')
        .media-body
          %h5.mt-0= event.title
          = event.location
          - if event.title_link
            .mb-0.align-text-bottom
              = link_to t('people.view'), event.title_link, target: '_blank', rel: 'noopener'
              %i.bi.bi-box-arrow-up-right
    - elsif event.title_link
      %h5.mt-0= event.title
      = event.location
      .mb-0.align-text-bottom
        = link_to t('people.view'), event.title_link, target: '_blank', rel: 'noopener'
        %i.bi.bi-box-arrow-up-right
    - else
      :ruby
        tagged_people = policy_scope(event.tagged_people)
        citation_count = event.citations&.count
        show_collapsible = event.description.presence || tagged_people.count.positive? || citation_count.positive?
      %div
        - if show_collapsible
          %button.btn.btn-link.float-end{
              'data-bs-toggle': 'collapse',
              'data-bs-target': "#extra-#{event_id}",
              'aria-expanded': false,
              'aria-controls': "extra-#{event_id}"
          }= t('people.show_more')
        %h5.mt-0= event.title
        = event.location
        - if show_collapsible
          .collapse{ id: "extra-#{event_id}" }
            .card.card-body
              - if event.description.presence
                .mb-2.pb-2.border-bottom= event.description
              - if tagged_people.count.positive?
                .mb-2
                  %strong= t('people.tagged_people')
                  - tagged_people.each do |p|
                    %div
                      = link_to p.title, p.friendly_url, target: '_blank', rel: 'noopener'
                      %i.bi.bi-box-arrow-up-right
              - if citation_count.positive?
                .mb-2
                  %strong= t('people.citations')
                  %ol
                    - event.citations&.each do |c|
                      %li= sanitize render_citation(c)
