= render partial: 'nav', locals: { tab: :family }

- if @person.father_id || @person.mother_id
  .row
    .col-12.col-lg-8.offset-lg-2
      %h4.text-center.mt-2= t('people.parents')
      %div.thumbnail-grid.d-flex.justify-content-center.flex-wrap
        = render partial: 'family_tile', locals: { person: @person.mother } if @person.mother_id
        = render partial: 'family_tile', locals: { person: @person.father } if @person.father_id

- if @siblings&.count > 0
  .row
    .col-12.col-lg-8.offset-lg-2
      %h4.text-center.mt-2= t('people.siblings')
      %div.thumbnail-grid.d-flex.justify-content-center.flex-wrap
        - last_mother_id, last_father_id = -1
        - @siblings.each do |sibling|
          - if sibling.mother_id != last_mother_id || sibling.father_id != last_father_id
            - p1 = (link_to sibling.mother&.full_name, sibling.mother.url_path || t('people.unknown'))
            - p2 = (link_to sibling.father&.full_name, sibling.father.url_path || t('people.unknown'))
            %h5.text-center.w-100= t('people.with_and', p1: p1, p2: p2).html_safe
          = render partial: 'family_tile', locals: { person: sibling }
          - last_mother_id = sibling.mother_id
          - last_father_id = sibling.father_id

- if @current_spouse
  .row
    .col-12.col-lg-8.offset-lg-2
      %h4.text-center= t('people.marriages')
      %div.d-flex.justify-content-center= render partial: 'family_tile', locals: { person: @current_spouse }

- if @children&.count > 0
  .row
    .col-12.col-lg-8.offset-lg-2
      %h4.text-center.mt-2= t('people.children')
      %div.thumbnail-grid.d-flex.justify-content-center.flex-wrap
        - last_spouse_id = -1
        - @children.each do |child|
          - if (child.mother_id == @person.id && child.father_id != last_spouse_id)
            %h5.text-center.w-100
              =t('people.with')
              - if child.father
                = link_to child.father.full_name, child.father.url_path
              - else
                = t('people.unknown')
            - last_spouse_id = child.father_id
          - elsif (child.father_id == @person.id && child.mother_id != last_spouse_id)
            %h5.text-center.w-100
              =t('people.with')
              - if child.mother
                = link_to child.mother.full_name, child.mother.url_path
              - else
                = t('people.unknown')
            - last_spouse_id = child.mother_id
          = render partial: 'family_tile', locals: { person: child }
