:ruby
  @title = person.full_name
  @edit_link = edit_admin_person_url(person.id)

.person-cover-image

.container.person-container
  .row.name-header{ class: [(:photo if person.profile_photo)] }
    - if person.profile_photo
      .col-sm-12
        = image_tag(person.profile_photo.image.variant(resize_to_limit: [200, 200]),
                    class: 'img-fluid mx-auto main-photo')
    %h2.col-lg-8.offset-lg-2.col-md-12.mt-3= person.full_name
  .row.mt-3.person-nav
    .col-4.col-lg-2.offset-lg-3.text-center
      = link_to(t('people.bio'), person_path(person.friendly_url),
        { class: ['person-top-link', (:active if tab == :bio)] })
    .col-4.col-lg-2.text-center
      = link_to(t('people.family'), person_family_path(person.friendly_url),
        { class: ['person-top-link', (:active if tab == :family)] })
    .col-4.col-lg-2.text-center
      = link_to(t('people.gallery'), person_gallery_path(person.friendly_url),
        { class: ['person-top-link', (:active if tab == :gallery)] })
  %hr.row
