<% @title = @person.full_name %>

<% show_picture = @photos.count > 0 %>
<% show_bio = !@person.bio.blank? %>

<h2 class="col-lg-8 offset-lg-2 col-md-12 mt-3"><%=@person.full_name %></h2>

<div class="row mt-3">

  <% if show_picture %>
  <div class="offset-lg-2 col-lg-2 col-md-12 mb-2">
    <%= image_tag url_for(@photos[0].image), class: 'img-fluid' %>
  </div>
  <% end %>
  
  <div class="<%= show_picture ? 'col-lg-6' : 'offset-lg-2 col-lg-8' %>  col-md-12">
    <nav>
      <div class="nav nav-pills" id="nav-tab" role="tablist">
        <% if show_bio %>
        <a class="nav-item nav-link active" id="nav-bio-tab" data-toggle="tab" href="#nav-bio" role="tab" aria-controls="nav-bio" aria-selected="true">Bio</a>
        <% end %>
        <a class="nav-item nav-link <%= 'active' if !show_bio %>" id="nav-timeline-tab" data-toggle="tab" href="#nav-timeline" role="tab" aria-controls="nav-timeline" aria-selected="false">Timeline</a>
        
        <% if @notes.count > 0 %>
        <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" href="#nav-notes" role="tab" aria-controls="nav-notes" aria-selected="false">Notes</a>
        <% end %>

        <% if @photos.count > 0 %>
        <a class="nav-item nav-link" id="nav-photos-tab" data-toggle="tab" href="#nav-photos" role="tab" aria-controls="nav-photos" aria-selected="false">Photos</a>
        <% end %>
      </div>
    </nav>

    <div class="tab-content py-2" id="nav-tabContent">
      <% if show_bio %>
      <div class="tab-pane fade border rounded p-2 active show" id="nav-bio" role="tabpanel" aria-labelledby="nav-bio-tab">
        <%= markdown @person.bio %>
      </div>
      <% end %>

      <div class="tab-pane fade <%= 'active show' if !show_bio %>" id="nav-timeline" role="tabpanel" aria-labelledby="nav-timeline-tab">
        <table class="table table-borderless table-hover table-striped">
          <% for event in @events %>
            <%= render partial: 'event', locals: { event: event } %>
          <% end %>
        </table>
      </div>

      <% if @notes.count > 0%>
      <div class="tab-pane fade border rounded p-2 show" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
        <% for note in @notes %>
          <%= render partial: 'shared/search_doc', locals: { doc: note } %>
        <% end %>
      </div>
      <% end %>

      <% if @photos.count > 0 %>
      <div class="tab-pane fade border rounded p-2 show" id="nav-photos" role="tabpanel" aria-labelledby="nav-photos-tab">
        <%= render partial: 'photos/thumbnail_grid', locals: { photos: @photos } %>
      </div>
      <% end %>
    </div>
  </div>
</div>
