<% @title = @photo.title %>

<div class="row">
  <div class="col-12 mt-3 text-center">
    <a target="_blank" href="<%= url_for(@photo.image) %>">
      <%= image_tag @photo.image, class: 'img-fluid border rounded p-1' %>
    </a>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12">
      <h3 class="text-center"><%= @photo.title %></h3>
      <hr>
      <p><%= markdown @photo.description %></p>
      <%= render partial: 'shared/tag_list', locals: { list: @photo.tag_list, class_list: "mt-5" } %>
  </div>
</div>
