- @title = @photo.title
- @edit_link = edit_admin_photo_url(@photo.id)

.container.show-photo
  .row
    .col-lg-8.offset-lg-2.col-sm-12.text-center
      %h2.text-center= @photo.title
      %hr

      %a{ target: '_blank', href: url_for(@photo.image) }
        = image_tag @photo.image, class: 'img-fluid photo-image border rounded p-1'

  .row.mt-4
    .col-lg-8.offset-lg-2.col-sm-12
      - if @photo.description.present?
        %p= @photo.description

      = render @photo.citation if @photo.citation

      = render partial: 'shared/tag_list', locals: { list: @photo.tag_list, class_list: 'mt-5' }
      = render partial: 'shared/person_tag_list', locals: { list: @tagged_people, class_list: 'mt-3' }
